header {
  display: flex;
  justify-content: center;
}
canvas {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  height: 100%;
  border-radius: 5px;
}
.App {
  background-color: rgb(41, 42, 59);
  padding: 5px 40px 5px 40px;
  height: 100%;
}
#sketch {
  height: 100%;
  width: 100%;
}
